.contact {
    background-color: var(--color-darkblack);
    color: var(--color-lightyellow);
    font-family: 'bebas neue';
    margin-top: 5.5vw;
    /* height: 100vh; */
}

.connection {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding: 3rem 5rem;
    align-items: center;
    /* border: 2px solid var(--color-lightyellow); */
}

.connection h3 {
    font-size: 3vw;
    margin-left: 1rem;
    color: var(--color-lightyellow);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.connection h1 {
    font-size: 6vw;
    margin-left: 1rem;
    color: var(--color-lightyellow);
    /* text-transform: uppercase; */
    letter-spacing: 0.2rem;
    font-weight: bold;
}

.socials {
    display: flex;
    user-select: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #9d8020;
    color: #9d8020;
    
    /* border: 2px solid var(--color-lightyellow); */
}

.icons {
    display: flex;
    justify-content: center;
    width: 100%;
    /* border: 2px solid var(--color-lightyellow); */
}

.icon {
    width: 1.9vw;
    margin: 0.5rem 1rem;
    margin-bottom: 1rem;
    transition: transform 0.2s ease-in-out;
}

.icon:hover {
    transform: scale(1.6);
}

.copyright {
    user-select: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem 0rem;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    color:#9d8020;
    /* border: 2px solid var(--color-lightyellow); */
}

@media screen and (max-width: 768px) {
    .connection {
        flex-direction: column;
        align-items: center;
        /* padding: 1rem 0rem; */
    }

    .connection .left {
        font-size: 8.1vw;
        margin-left: 0;
        margin-bottom: 1rem;
        width: 100%;
        text-align: center;
    }

    .connection .right {
        width: 100%;
        padding: 0rem 1rem;
    }

    .icons {
        width: 100%;
        justify-content: center;
    }

    .icon {
        width: 3vw;
        margin: 0.5rem 1rem;
        margin-bottom: 1rem;
        transition: transform 0.2s ease-in-out;
    }

    .icon:hover {
        transform: scale(1.6);
    }
}
