@tailwind base;
@tailwind components;
@tailwind utilities;

/* make root variables for color */
:root{
    --color-lightlack:#151515;
    --color-darkblack:#000000;
    --color-white:#fbfcd4;
    --color-lightyellow:#eab539;
    --color-darkyellow:#fc7804;
}
/* 
*,::after,::before{
  cursor: none;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html{
    font-size: 16px;
}

body{
  background-color: var(--color-lightyellow);
}

.cursor{
    /* animation:1.2s infinite steps(1) blink; */
}

@keyframes blink {
    0%,100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}

/* Media query for screens with a maximum width of 600px */
@media screen and (max-width: 600px) {
    html {
      font-size: 14px; /* Adjust the font size for smaller screens */
    }
  }
  
  /* Media query for screens with a maximum width of 400px */
  @media screen and (max-width: 400px) {
    html {
      font-size: 12px; /* Further adjust the font size for even smaller screens */
    }
  }

  /* changing the style of the toast */
